.messageContainer {
  display: block;
  color: black;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-color: rgb(255, 255, 255);
}

.messageContent {
  height: 77%;
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  flex: 1;
  padding: 0px 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .messageContent {
    height: 69%;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    flex: 1;
  }
}

.msgLoader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.msgImg {
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.messageBlock {
  width: 100%;
  margin: 0 0 15px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding: 10px;
}

.adminMsg {
  display: flex;
  justify-content: center;
  width: 100%;
}

.adminMsg p {
  text-align: center;
}

.messageBox {
  padding: 6px 10px;
  border-radius: 6px 0 6px 0;
  position: relative;
  background: rgba(100, 170, 0, 0.1);
  border: 2px solid rgba(100, 170, 0, 0.1);
  color: #6c6c6c;
  font-size: 15px;
  display: grid;
}

.messageBox:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid rgba(100, 170, 0, 0.2);
  border-right: none;
  bottom: -22px;
  right: 10px;
}

.messageUsername {
  font-size: 15px;
  margin: 0 0 15px;
  color: #30649c;
  align-self: flex-start;
}

.messageSender {
  background: rgba(0, 114, 135, 0.1);
  border: 2px solid rgba(0, 114, 135, 0.1);
  align-self: flex-start;
}

.messageSender:after {
  right: auto;
  bottom: auto;
  top: -22px;
  left: 9px;
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 114, 135, 0.2);
  border-left: none;
}

.sendMessageForm {
  padding-left: 5%;
  width: 100%;
}
