.playHeader {
  justify-content: center;
}

.options {
  justify-content: center;
}

#spin {
  width: 50px;
  height: 50px;
  background-color: red;
  border: solid;
  border-radius: 100px;
  z-index: 999;
}

.nameAlerts {
  opacity: 0;
  z-index: 1000;
  color: black;
  font-size: 80px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  position: absolute;
}

.optionAlerts {
  opacity: 0;
  z-index: 1000;
  color: black;
  font-size: 80px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  position: absolute;
  text-transform: uppercase;
}

.questionAlerts {
  opacity: 0;
  z-index: 1000;
  color: black;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  position: absolute;
  text-align: center;
}

#messageArrowBlock {
  display: flex;
  height: 460px;
  width: 30vw;
  position: absolute;
  right: -30vw;
  z-index: 1000;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #messageArrowBlock {
    display: flex;
    height: 460px;
    width: 80vw;
    position: absolute;
    right: -80vw;
    z-index: 1000;
  }
}

.arrowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width: 20px;
  background-color: black;
  border-radius: 10px 0px 0px 10px;
  position: absolute;
  top: 50%;
  right: 30vw;
  z-index: 1000;
}

@media only screen and (max-width: 768px) {
  .arrowContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 20px;
    background-color: black;
    border-radius: 10px 0px 0px 10px;
    position: absolute;
    top: 50%;
    right: 80vw;
    z-index: 1000;
  }
}

.messageArrow {
  color: white;
}
