@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Train+One&display=swap");

.playHeader {
  justify-content: center;
  margin-bottom: 10px;
}

.playHeader h2 {
  font-family: "Train One", cursive;
  font-size: 8vw;
}

.gameContainer {
  width: 88vw;
  height: 60vh;
  padding-bottom: 35px;
}

.userTurn {
  position: absolute;
  bottom: 0;
  font-family: "Indie Flower", cursive;
}

.options {
  position: absolute;
  right: 5px;
  top: 0;
}

.options button {
  height: 5em;
  width: 5em;
  padding: 1px;
  border-radius: 100%;
}

.list-group-item {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
  font-weight: 900;
}

.kickBtn {
  background-color: transparent !important;
  border: none;
}

.kickModalBtn {
  padding: 0em 1em;
  border-radius: 3em;
  font-size: 2em;
  color: #3d2d89;
  background-color: #ffffffc2;
  font-weight: 900;
  border: none;
  transition: 0.4s all;
  cursor: pointer;
  opacity: 0.8;
}

.kickModalBtn:hover {
  filter: drop-shadow(0px 0px 15px white);
}

.icons {
  height: 5vh;
  width: 5vw;
  fill: white;
}

#rouletteContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
}

div.sc-dlfnbm.giJnqb + img {
  filter: hue-rotate(309deg);
}

#spin {
  width: 50px;
  height: 50px;
  background-color: #e43da0;
  border: solid;
  border-radius: 100px;
  z-index: 999;
}

/* TRUTH OR DARE MODAL */
.todBtn {
  padding: 0.8em 2em;
  border-radius: 3em;
  font-size: 2em;
  font-weight: 900;
  border: none;
  transition: 0.4s all;
  cursor: pointer;
  opacity: 0.8;
  margin: 1em;
}

#truth {
  color: #fafafa;
  background-color: #160757c2;
}

#orTxt {
  font-size: 5em;
  font-weight: 900;
}

#dare {
  color: #fafafa;
  background-color: #ff0000;
}

.todBtn:hover {
  filter: drop-shadow(0px 0px 15px white);
}

/* QUESTIONS MODAL */
#combo-box-demo {
  width: 100%;
  font-size: 2em;
  font-family: "Indie Flower";
}

/* WOULD YOU RATHER START */
#start {
  display: flex;
  width: 200px;
  height: 50px;
  background-color: grey;
  border: solid;
  border-radius: 20px;
  justify-content: space-between;
  padding: 2px;
  position: absolute;
  bottom: 15px;
  font-family: "Indie Flower", cursive;
}

#startToggle {
  width: 40px;
  height: 40px;
  background-color: black;
  border: solid 1px white;
  border-radius: 100px;
  z-index: 999;
}

#startLabel {
  padding-right: 15px;
  padding-top: 5px;
  font-size: 20px;
  color: white;
}

#alertsContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nameAlerts {
  opacity: 0;
  z-index: 1000;
  color: black;
  font-size: 80px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  position: absolute;
}

.optionAlerts {
  opacity: 0;
  z-index: 1000;
  color: black;
  font-size: 80px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  position: absolute;
  text-transform: uppercase;
}

.questionAlerts {
  opacity: 0;
  z-index: 1000;
  color: black;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  position: absolute;
  text-align: center;
}

#currentUsername {
  position: absolute;
  left: 15px;
  bottom: 0px;
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
  font-weight: 600;
}

#msgBubble {
  z-index: 3000;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 100%;
  border: 2px solid;
  position: absolute;
  bottom: 1%;
  right: 1%;
  color: black;
}

#msgBubble > svg:hover {
  cursor: pointer;
}

#chatLogo {
  font-size: 30px;
  margin-top: 11px;
  margin-left: 7px;
}

/* PLAYER SCORE */
.tableContainer {
  overflow-y: auto;
  height: 30vh;
  margin-top: 20px;
}

#wyrTable {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: "Indie Flower", cursive;
  font-size: 3vh;
  font-weight: 600;
  color: white;
}

.tableRows {
  visibility: hidden;
}

.wyrUsername {
  text-transform: capitalize;
}

.userSelection {
  text-transform: capitalize;
}

/* WYR Modal */
.wyrOptions {
  text-transform: capitalize;
  text-align: center;
  text-justify: auto;
  padding: 0.8em 2em;
  border-radius: 3em;
  font-size: 2em;
  font-weight: 900;
  border: none;
  transition: 0.4s all;
  cursor: pointer;
  opacity: 0.8;
  width: 100%;
}

.wyrOptions:hover {
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.leftOption {
  color: #fafafa;
  background: linear-gradient(-45deg, #f3ff00, #7ae75b, #00c386);
}

.rightOption {
  color: #fafafa;
  background: linear-gradient(-45deg, #e786c8, #ef6f6f, #ff0000);
}

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
}

.wyrModalBackdrop.show {
  opacity: 1;
}

/* WYR SCORE */
#wyrScore {
  visibility: hidden;
  display: none;
  font-family: "Indie Flower", cursive;
  font-weight: 800;
  font-size: 3vw;
}

.wyrRow {
  width: 100%;
  margin: auto;
  text-transform: capitalize;
  text-align: center;
  /* overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2; */
}

.selectionLabel {
  height: 5vh;
}

@media screen and (min-width: 568px) and (orientation: landscape) {
  #spin {
    width: 40px;
    height: 40px;
  }

  .wyrWrapper {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 30px;
  }
  .selectionLabel {
    font-size: 3vh;
  }
  .tableContainer {
    overflow-y: auto;
    height: 100%;
    margin-top: 20px;
    width: 100%;
  }
  #wyrScore {
    height: 100%;
    visibility: hidden;
    display: none;
    font-family: "Indie Flower", cursive;
    font-weight: 800;
    font-size: 3vw;
    width: 100%;
  }
  #wyrScore > .wyrRow {
    height: 100%;
  }
  .wyrInnerContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 70px;
  }
  .wyrRow {
    margin: 0;
  }
  #leftContainer,
  #rightContainer {
    height: 100%;
  }
  #wyrTable {
    font-size: 5vh;
  }
}

@media all and (max-width: 1080px) and (max-height: 600px) {
  /* CSS rules here for screens lower than 750px */
  .bhdLno {
    width: 250px !important;
    height: 250px !important;
  }

  @media all and (orientation: landscape) {
    .bhdLno {
      width: 13rem !important;
      height: 13rem !important;
    }
    .options button {
      height: 4em;
      width: 4em;
      padding: 1px;
      border-radius: 100%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .options button {
    height: 3em;
    width: 3em;
    padding: 1px;
    border-radius: 100%;
  }

  #start {
    display: flex;
    width: 147px;
    height: 30px;
    background-color: grey;
    border: solid;
    border-radius: 20px;
    justify-content: space-between;
    padding: 2px;
    position: absolute;
    bottom: 15px;
  }
  #startLabel {
    padding-right: 15px;
    font-size: 15px;
    padding-top: 0px;
    color: white;
  }
  #startToggle {
    width: 24px;
    height: 24px;
    background-color: black;
    border: solid 1px white;
    border-radius: 100px;
    z-index: 999;
  }
}

#leftContainer,
#rightContainer {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#left {
  background: linear-gradient(-45deg, #f3ff00, #7ae75b, #00c386);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: relative;
  border-radius: 25px 25px 0 0;
}

#leftLine {
  background: linear-gradient(-45deg, #f3ff00, #7ae75b, #00c386);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: absolute;
  top: 0;
  height: 10px;
  width: 100%;
  visibility: hidden;
}

#right {
  background: linear-gradient(-45deg, #e786c8, #ef6f6f, #ff0000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: relative;
  border-radius: 25px 25px 0 0;
}

#rightLine {
  background: linear-gradient(-45deg, #e786c8, #ef6f6f, #ff0000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: absolute;
  top: 0;
  height: 10px;
  width: 100%;
  visibility: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#tableRows {
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  font-weight: 600;
}
