.playHeader {
  justify-content: center;
  color: black;
}

.options {
  justify-content: center;
}

#spin {
  width: 50px;
  height: 50px;
  background-color: red;
  border: solid;
  border-radius: 100px;
  z-index: 999;
}

#start {
  display: flex;
  width: 200px;
  height: 50px;
  background-color: grey;
  border: solid;
  border-radius: 20px;
  justify-content: space-between;
  padding: 2px;
}

#startToggle {
  width: 40px;
  height: 40px;
  background-color: black;
  border: solid 1px white;
  border-radius: 100px;
  z-index: 999;
}

#startLabel {
  padding-right: 15px;
  padding-top: 5px;
  font-size: 20px;
  color: white;
}

.nameAlerts {
  opacity: 0;
  z-index: 1000;
  color: black;
  font-size: 80px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  position: absolute;
}

.optionAlerts {
  opacity: 0;
  z-index: 1000;
  color: black;
  font-size: 80px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  position: absolute;
  text-transform: uppercase;
}

.questionAlerts {
  opacity: 0;
  z-index: 1000;
  color: black;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  position: absolute;
  text-align: center;
}

#msgBubble {
  z-index: 3000;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 100%;
  border: 2px solid;
  position: absolute;
  bottom: 1%;
  right: 1%;
  color: black;
}

#chatLogo {
  font-size: 30px;
  margin-top: 11px;
  margin-left: 7px;
}

/* PLAYER SCORE */
#tableRows {
  visibility: hidden;
}

/* WYR Modal */
.wyrOptions {
  height: 100%;
  text-transform: capitalize;
  text-align: center;
  text-justify: auto;
  width: 100%;
  /* width: 100%; */
}

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
}

.wyrModalBackdrop.show {
  opacity: 1;
}

/* WYR SCORE */
#wyrScore {
  visibility: hidden;
}

#left {
  background-color: yellow;
}

#right {
  background-color: blue;
}
